node_modules

server/.env
server/db.js
server/uploads
# Build output
dist/
build/

*.sql
# !server/sql/update_phieu_kiem_tbp_flow.sql
# !server/sql/migrations/
# !server/sql/migrations/*.sql
*.xlsx
*.doc